* {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

:root {
    --BGCOLOR: #050c17;
    --TXTCOLOR: aliceblue;
    --LINKCOLOR: aqua;
    --LINKVISITEDCOLOR: aquamarine;
    --SBBGCOLOR: #212731;
    --HOVERCOLOR: #575757;
    --ACTIVECOLOR: #04AA6D;
}

html {
  scroll-behavior: smooth;
}

body {
    background-color: var(--BGCOLOR);
}

h1,
h2,
h3,
p,
li {
    color: var(--TXTCOLOR);
}

a:link,
a:hover {
    color: var(--LINKCOLOR);
    text-decoration: none;
}

a:visited {
    color: var(--LINKVISITEDCOLOR);
}

iframe {
    border: none;
}

.container {
    display: flex;
    margin-left: 250px;
}

.container>div {
    margin: 10px;
    padding: 20px;
    font-size: 1.3rem;
}

.sidebar {
    height: auto;
    position: fixed;
    /* border: 1px solid aliceblue; */
    background: var(--SBBGCOLOR);
    border-radius: 8px;
    font-size: 1.3rem;
    margin: 9.5px 9.5px 0px 9.5px;
}

.main {
    flex: 1;
    padding: 20px;
    margin: 20%;
    /*border: 1px solid aliceblue;*/
    border-radius: 8px;
}


.media {
    flex: 0;
    /*border: 1px solid aliceblue;*/
    border-radius: 8px;
    text-align: center;
    max-height: fit-content;
    background: var(--SBBGCOLOR);
}

.media>iframe {
    border-radius: 15px;
    display: block;
    /*border: 1px solid aliceblue;*/
    text-align: center;
}

.sidebar a,
h3 {
    display: block;
    padding: 10px 15px;
    text-decoration: none;
    margin: 5px 0;
}

.sidebar a:hover {
    background-color: var(--HOVERCOLOR);
}

.banner {
    max-width: 80%;
    height: auto;
    overflow: hidden;
}

.banner-img {
    max-width: 80%;
    height: auto;
    object-fit: scale-down;
    clip-path: inset(0% 4% 8% 0% round 10px);
    margin-left: 11.5%;
}

.wrapper {
    position: relative;
    /* Ensures that elements are properly stacked */
}

.feed {
    margin-top: 20px;
}

.active {
    background-color: var(--ACTIVECOLOR);
}

.navbar>ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: var(--SBBGCOLOR);
    border-radius: 8px;
}

.navbar>ul li {
    float: left;
}

.navbar>ul li a {
    display: block;
    /* color: white; */
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

.navbar>ul li a:hover:not(.active) {
    background-color: var(--HOVERCOLOR);
}

@media (max-width: 767px) {
    .sidebar {
        position: static;
        text-align: center;
    }

    .container {
        margin: 0;
        padding: 0;
        flex-direction: column;
    }

    .media>iframe {
        width: 100%;
    }

    .media {
        display: none;
    }

    .banner-img {
        margin-left: 11.5%;
    }

    .sidebar {
        margin: 33px 30px 0px 33px;
    }
}

@media (min-width: 768px) and (max-width: 1023px) {
    .sidebar {
        position: static;
        text-align: center;
    }

    .container {
        margin: 0;
        padding: 0;
        flex-direction: column;
    }

    .media>iframe {
        width: 100%;
    }

    .media {
        display: none;
    }

    .banner-img {
        margin-left: 11.5%;
    }

    .sidebar {
        margin: 33px 30px 0px 33px;
    }
}